{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 chrome versions"]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "react-intl",
      {
        "enforceDescriptions": true
      }
    ]
  ]
}
